@media screen and (max-width: 939px){
    .centralizador {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .cabecalho {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        padding: 5px 20px;
        justify-content: space-between;
    }

    .projetos {
        max-width: 100%;
        min-width: 100%;
    }

    .menu2 {
        display: block;
    }

    .menu {
        display: none;
    }

    .contato .centralizador .wrapper .caixa:first-child {
        height: auto;
    }

    .contato .centralizador .wrapper .caixa:last-child{
        padding-left: 50px;
        height: auto;
    }

    .caixa {
        width: 100%;
        overflow: hidden;
    }

    .caixa-interna {
        width: 100%;
    }

    .texto {
        display: none;
    }

    .texto-mobile .descricao {
        width: 100%;
    }

}

@media screen and (min-width: 939px){
    .box::before {
        content: "";
        position: absolute;
        height: 100px;
        width: 100px;
        display: block;
        opacity: 0;
        transition: 0.5s;
        background-color: var(--azul);
        z-index: 2;
    }

    .box:hover::before{
        opacity: 0.8;
        transition: 0.5s;
        width: 420px;
        height: 420px;
        z-index: 2;
    }

    .box:hover > .texto {
        opacity: 1;
    }

    .texto-mobile {
        display: none;
    }
}

@media screen and (max-width: 836px){
    .contato .descricao {
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 799px){
    .caixa-interna {
        padding-bottom: 20px;
    }

    .caixa-interna img {
        width: 300px;
    }
}

@media screen and (max-width: 440px){
    /*Criei isto aqui para corrigir por enquanto a questão do tamanho das laterais
    pois as divs não estavam respeitando a largura da tela em razão de algo que ainda
    não consegui identificar*/
    section, header{
        width: 100%;
        overflow: hidden;
    }


    .caixa-interna, .projeto,
    .box, .caixa .container, .descricao, .texto{
        width: 100vw;
        
    }

    .imagem-projeto {
        width: 100% !important;
        height: auto !important;
    }

    .box:hover::before{
        opacity: 0.8;
        transition: 0.3s;
        width: 100%;
        height: 420px;
        z-index: 2;
    }

    .logo img {
        display: block;
    }

    .logo h1 {
        display: none;
    }

    .contato .centralizador .wrapper .caixa:first-child {
        height: auto;
    }

    .contato .centralizador .wrapper .caixa:last-child{
        padding-left: 50px;
        height: auto;
    }
}

@media screen and (max-width: 290px){
    .contato .centralizador .wrapper .caixa .texto-contato .descricao{
        font-size: 25px;
    }

    .contato .centralizador .wrapper .caixa:last-child{
        padding-left: 70px;
        height: auto;
    }

    .desenvolvedor h4{
        font-size: 10px;
    }
}