@media screen and (max-width: 939px){
    .centralizador {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .cabecalho {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        padding: 5px 20px;
        justify-content: space-between;
    }

    .projetos {
        max-width: 100%;
        min-width: 100%;
    }

    .menu2 {
        display: block;
    }

    .menu {
        display: none;
    }

}

@media screen and (max-width: 799px){
    .caixa-interna {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 440px){
    /*Criei isto aqui para corrigir por enquanto a questão do tamanho das laterais
    pois as divs não estavam respeitando a largura da tela em razão de algo que ainda
    não consegui identificar*/
    section, header{
        width: 100%;
        overflow: hidden;
    }


    .caixa-interna, .projeto,
    .box, .caixa .container, .descricao, .texto{
        width: 100vw;
        
    }

    .imagem-projeto, .imagem-sobre {
        width: 100% !important;
        height: auto !important;
    }

    .box:hover::before{
        opacity: 0.8;
        transition: 0.3s;
        width: 100%;
        height: 420px;
        z-index: 2;
    }

    .logo img {
        display: block;
    }

    .logo h1 {
        display: none;
    }
}

/* @media screen and (max-width: 290px){
    .imagem-sobre {
        width: 270px !important;
        height: auto !important;
    }
} */