:root {
    --laranjinha: #fee4bf;
    --azul: #6fadaa;
    --vermelho: #ea877d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul);
    width: 100%;
    /* padding: 0px 150px; */
}

/*CABEÇALHO*/

.cabecalho {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    max-width: 940px;
    min-width: 940px;
    
}

.logo h1{
    color: var(--laranjinha);
}

.menu a {
    /* margin-left: 3px; */
    transition: 0.3s;
    text-decoration: none;
    color: var(--laranjinha);
    padding: 5px 20px;
    
}

.menu a:last-child{
    border: 1px solid var(--laranjinha);
    border-radius: 30px;
    transition: 0.3s;
}

.menu a:last-child:hover {
    background-color: var(--laranjinha);
    color:var(--azul);
    transition: 0.3s;
}

.menu a:not(a:last-child):hover{
    transition: 0.3s;
    border-bottom: 1px solid var(--laranjinha);
    
}

/*-----------------------------------*/

/*SEÇÕES*/

.centralizador {
    display: flex;
    flex-flow: column;
    padding: 20px 0px;
    width: 100%;
    max-width: 940px;
    min-width: 940px;
}

.container-secoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*SEÇÃO DE PROJETOS*/

.projetos {
    width: 100%;
    max-width: 940px;
    min-width: 939px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 120px;
}

.projeto {
    width: 420px;
    height: 500px;
    margin: 10px 20px;
}

.box {
    position: relative;
    width: 420px;
    height: 420px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    opacity: 0;
    transition: 0.3s;
    background-color: var(--azul);
    z-index: 2;
}

.box:hover > .texto {
    opacity: 1;
}


.box:hover::before{
    opacity: 0.8;
    transition: 0.3s;
    width: 420px;
    height: 420px;
    z-index: 2;
}

.imagem-projeto {
    position: absolute;
    width: 420px;
    height: 420px;
    z-index: 1;
    transition: 0.5s;
}

.texto {
    text-align: center;
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    z-index: 2;
    color: var(--laranjinha);
    bottom: 100px;
    padding: 10px;
}

.descricao {
    width: 400px;
    padding: 10px;
}

.titulo {
    margin-bottom: 20px;
}

.projeto a {
    text-decoration: none;
    color: var(--azul);
    padding: 5px 20px;
    border-radius: 30px;
    background-color: var(--laranjinha);
    transition: 0.3s;
}

.projeto a:hover{
    background-color: var(--vermelho);
    color: white;
    transition: 0.3s;
}

/*SEÇÃO SOBRE*/

.secao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--azul);
    width: 100%;
    height: auto;
}

.secao .titulo{
    align-self: flex-start;
    color: var(--laranjinha);
}


.caixa {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.sobre .centralizador .caixa {
    padding-bottom: 40px;
}
.caixa .descricao{
    color: var(--laranjinha);
}

.caixa .caixa-interna {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.sobre .centralizador .caixa .caixa-interna .redes {
    margin-top: 15px;
}

.caixa img{
    width: 400px;
}

.redes a{
    color: var(--laranjinha);
    margin: 0 15px;
}

.redes a i{
    font-size: 50px;
}

/*SEÇÃO CONTATO*/

.contato {
    background-color: white;
}

.contato .titulo {
    color: var(--vermelho);
    width: 150px;
}

.contato .caixa .descricao {
    font-size: 30px;
    color: var(--vermelho);
}
.contato .centralizador {
    height: auto;
    flex-flow: column;
    justify-content: flex-start;
}


.contato .centralizador .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.contato .centralizador .caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
}

.contato .centralizador .caixa .botao {
    text-decoration: none;
    text-align: center;
    color: var(--vermelho);
    padding: 5px 20px;
    border: 1px solid var(--vermelho);
    border-radius: 30px;
    transition: 0.3s;
    width: 150px;
}

.contato .centralizador .caixa .botao:hover {
    background-color: var(--vermelho);
    color: white;
    transition: 0.3s;
}

.contato .centralizador .caixa2 {
    margin-left: 15px;
}

.contato .centralizador .caixa2 a{
    text-decoration: none;
    color: var(--vermelho);
    font-size: 25px;
    
}

/*------------------------------*/

/*FOOTER*/

.rodape {
    background-color: var(--azul);
    color: var(--laranjinha);
    
}

.rodape .centralizador .caixa-rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding-top: 30px;
}

.rodape .centralizador .caixa-rodape .logo {
    text-align: center;
}

.rodape .centralizador .caixa-rodape .logo img {
    width: 100px;
    border-radius: 100%;
}

.desenvolvedor a{
    text-decoration: none;
    color: var(--laranjinha)
}